<div class="card-viewer">
    <div class="card-viewer-wrapper">
      <div class="card-viewer-title">
        Doanh thu theo ngay
      </div>
      <div class="card-viewer-body">
          <div class="day-choose">
              <mat-form-field>
                  <input matInput type="number" min="0" max="23" placeholder="Choose a time" hint="0-23" value="0">
                </mat-form-field>
              <mat-form-field>
                  <input [formControl]="dateControl" matInput [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                  <mat-form-field>
                      <input type="text" matInput placeholder="Chọn game" [matAutocomplete]="auto">
                   </mat-form-field>
          </div>
        <div class="day-revenue clearfix">
            <ngx-charts-number-card
            [results]="dayUser">
          </ngx-charts-number-card>
        </div>
      </div>
    </div>
  </div>

<div class="card-viewer">
  <div class="card-viewer-wrapper">
    <div class="card-viewer-title">
      Theo thang
    </div>
    <div class="card-viewer-body">
        <div class="month-choose">
            <mat-form-field>
                <input type="number" [value]="now.getFullYear()" matInput placeholder="Nhận năm thống kê" maxlength="4">
             </mat-form-field>
             <mat-form-field>
                <input type="text" matInput placeholder="Chọn game" [matAutocomplete]="auto">
             </mat-form-field>
             
             <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of games" [value]="option">
                   {{ option }}
                </mat-option>
             </mat-autocomplete>
             <mat-radio-group [formControl]="optionControl">
                <mat-radio-button value="1" checked>TRU</mat-radio-button>
                <mat-radio-button value="2">MAU</mat-radio-button>
                <mat-radio-button value="3">MLAU</mat-radio-button>
              </mat-radio-group>
        </div>
        <div class="year-revenue mb-1">
          <strong>Total Year: </strong> MAU-33490000000/TRU-2333199000
        </div>
      <div class="day-revenue clearfix chart-wrapper" #chart>
          <ngx-charts-bar-vertical
          [view]="[chart.offsetWidth, 400]"
          [results]="monthUser"
          xAxis="true"
          yAxis="true"
          legend="true"
          showXAxisLabel="true"
          showYAxisLabel="true"
          xAxisLabel="Thang">
        </ngx-charts-bar-vertical>
      </div>

      <!-- <table class="table table-striped">
          <thead>
            <tr>
              <th>Thang</th>
              <th>MAU</th>
              <th>NRU</th>
              <th>MLAU</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of multiMonthUser">
              <th scope="row">{{ user.name }}</th>
              <td>{{ user.series[1].value }}</td>
              <td>{{ user.series[0].value }}</td>
              <td>{{ user.series[1].value/user.series[0].value }}</td>
            </tr>
          </tbody>
        </table> -->
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card-viewer">
            <div class="card-viewer-wrapper">
              <div class="card-viewer-title">
                  Registered Users
              </div>
              <div class="card-viewer-body">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Email</th>
                          <th>Date registered</th>
                          <th>Game</th>
                          <!-- <th>Status</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of nmUsers">
                          <td>{{ user.email }}</td>
                          <td>{{ user.created_at }}</td>
                          <td>{{ user.game ? user.game.name : "" }}</td>
                          <!-- <td>
                            <span class="badge badge-success">Active</span>
                          </td> -->
                        </tr>
                      </tbody>
                    </table>

      <mat-paginator *ngIf="itemsPerPage < totalItems"
      [length]="totalItems" 
      [pageSize]="itemsPerPage" 
      (page)="pageChanged($event)">
      </mat-paginator>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <div class="card-viewer">
            <div class="card-viewer-wrapper">
              <div class="card-viewer-title">
                Facebook Users
              </div>
              <div class="card-viewer-body">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Date registered</th>
                          <th>Game</th>
                          <!-- <th>Status</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of fbUsers">
                          <td>{{ user.user_detail ? user.user_detail.first_name + " " + user.user_detail.last_name : "" }}</td>
                          <td>{{ user.created_at }}</td>
                          <td>{{ user.game ? user.game.name : "" }}</td>
                          <!-- <td>
                            <span class="badge badge-success">Active</span>
                          </td> -->
                        </tr>
                      </tbody>
                    </table>
                    <mat-paginator *ngIf="itemsPerPageFb < totalItemsFb"
                    [length]="totalItemsFb" 
                    [pageSize]="itemsPerPageFb" 
                    (page)="pageChangedFb($event)">
                    </mat-paginator>
              </div>
            </div>
          </div>
    </div>
</div>