<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Doanh thu
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                Từ ngày <input type="date" name="nf" class="form-control">
              </div>
              <div class="col-md-4">
                Đến ngày <input type="date" name="nf" class="form-control">
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Game</th>
                <th>Doanh thu khách hàng</th>
                <th>Doanh thu sau Telco và trước VAT</th>
                <th>Paid User</th>
                <th>ARPU</th>
                <th>ARPPU</th>
                <!-- <th>Status</th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Game A</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
                <!-- <td>
                  <span class="badge badge-success">Active</span>
                </td> -->
              </tr>
              <tr>
                <td>Game B</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
                <!-- <td>
                  <span class="badge badge-success">Active</span>
                </td> -->
              </tr>
              <tr>
                  <td><strong>Total</strong></td>
                  <td>200</td>
                  <td>180</td>
                  <td>200</td>
                  <td>180</td>
                  <td>200</td>
                </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Tài khoản
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
              </div>
              <div class="col-md-6">
                Theo Game 
                <select id="select" name="select" class="form-control form-control-sm">
                    <option value="0">Please select</option>
                    <option value="1">Game #1</option>
                    <option value="2">Game #2</option>
                    <option value="3">Game #3</option>
                  </select>
              </div>
            </div>
  
            <div><strong>New Register User:	&nbsp;</strong>20</div>
            <div><strong>Daily Active User:	&nbsp;</strong>20</div>
            <div class="form-inline"><strong>Current Active User:	&nbsp;</strong>20	&nbsp;
              <strong>At:&nbsp;</strong>
              <input type="datetime-local" name="nf" class="form-control" value="2017-12-18T08:30">
            </div>
          </div>
          <hr>
          <div class="form-group">
            <div class="form-inline">
              <strong>Thống kê theo theo tháng:	&nbsp; </strong>
              <input type="month" name="nf" class="form-control" value="2017-12">
            </div>
          </div>
          <div><strong>Total Register User:	&nbsp;</strong>20</div>
          <div><strong>Monthly Active User:	&nbsp;</strong>20</div>
          <div><strong>Monthly Loss Active User:	&nbsp;</strong>20</div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Doanh thu theo kênh nạp thẻ
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                Từ ngày <input type="date" name="nf" class="form-control">
              </div>
              <div class="col-md-4">
                Đến ngày <input type="date" name="nf" class="form-control">
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>kênh nạp</th>
                <th>Doanh thu khách hàng</th>
                <th>Doanh thu sau Telco và trước VAT</th>
                <th>Paid User</th>
                <th>ARPU</th>
                <th>ARPPU</th>
                <!-- <th>Status</th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Viettel</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Mobi</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
              </tr>
              <tr>
                  <td><strong>Total</strong></td>
                  <td>200</td>
                  <td>180</td>
                  <td>200</td>
                  <td>180</td>
                  <td>200</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Doanh thu Agency
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                Từ ngày <input type="date" name="nf" class="form-control">
              </div>
              <div class="col-md-4">
                Đến ngày <input type="date" name="nf" class="form-control">
              </div>
              <div class="col-md-4">
                  Theo Agency 
                  <select id="select" name="select" class="form-control form-control-sm">
                      <option value="1">Agency #1</option>
                      <option value="2">Agency #2</option>
                      <option value="3">Agency #3</option>
                    </select>
                </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Game</th>
                <th>Lượt cài đặt</th>
                <th>NRU</th>
                <th>Doanh thu khách hàng</th>
                <th>Tỷ lệ chia sẻ</th>
                <th>Doanh thu Agency</th>
                <th>Doanh thu công ty</th>
                <th>Paid User</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Game A</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Game B</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                  <td><strong>Total</strong></td>
                  <td>200</td>
                  <td>180</td>
                  <td>200</td>
                  <td>180</td>
                  <td>200</td>
                  <td>100</td>
                  <td>100</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>


  