<div class="animated fadeIn">
  <div class="row">
        <div class="col-lg-8">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Doanh thu
            </div>
            <div class="card-body">
              <div class="form-group">
                Từ ngày <input type="date" name="nf" class="form-control">
                Đến ngày <input type="date" name="nf" class="form-control">
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Game</th>
                    <th>Doanh thu khách hàng</th>
                    <th>Doanh thu sau Telco và trước VAT</th>
                    <!-- <th>Status</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Pompeius René</td>
                    <td>100</td>
                    <td>90</td>
                    <!-- <td>
                      <span class="badge badge-success">Active</span>
                    </td> -->
                  </tr>
                  <tr>
                    <td>Paĉjo Jadon</td>
                    <td>100</td>
                    <td>90</td>
                    <!-- <td>
                      <span class="badge badge-danger">Banned</span>
                    </td> -->
                  </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.col-->
    
      </div>

      <div class="row">
          <div class="col-lg-8">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Doanh thu
              </div>
              <div class="card-body">
                <div class="form-group">
                  Từ ngày <input type="date" name="nf" class="form-control">
                  Đến ngày <input type="date" name="nf" class="form-control">
                </div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Game</th>
                      <th>Doanh thu khách hàng</th>
                      <th>Doanh thu sau Telco và trước VAT</th>
                      <!-- <th>Status</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Pompeius René</td>
                      <td>100</td>
                      <td>90</td>
                      <!-- <td>
                        <span class="badge badge-success">Active</span>
                      </td> -->
                    </tr>
                    <tr>
                      <td>Paĉjo Jadon</td>
                      <td>100</td>
                      <td>90</td>
                      <!-- <td>
                        <span class="badge badge-danger">Banned</span>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!--/.col-->
      
        </div>
</div>
  