<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Doanh thu
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                  <strong>Average revenue per user:</strong> 12
              </div>
              <div class="col-md-12">
                  <strong>Average revenue per paying user:</strong> 12
              </div>
              <div class="col-md-4">
                Từ ngày <input type="date" name="nf" class="form-control">
              </div>
              <div class="col-md-4">
                Đến ngày <input type="date" name="nf" class="form-control">
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Game</th>
                <th>Doanh thu khách hàng</th>
                <th>Doanh thu sau Telco và trước VAT</th>
                <th>Paid User</th>
                <!-- <th>Status</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rvn of revenue">
                <td>{{ rvn.game.name }}</td>
                <td>{{ rvn.sum_price }}</td>
                <td>90</td>
                <td>{{ rvn.user_count }}</td>
              </tr>
              <tr>
                  <td><strong>Total</strong>></td>
                  <td>{{ totalRevenue?.sum_price }}</td>
                  <td>90</td>
                  <td>{{ totalRevenue?.user_count }}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Tài khoản
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
              </div>
              <div class="col-md-6">
                Theo Game 
                <select id="select" name="select" class="form-control form-control-sm">
                    <option value="0">Please select</option>
                    <option value="1">Game #1</option>
                    <option value="2">Game #2</option>
                    <option value="3">Game #3</option>
                  </select>
              </div>
            </div>
  
            <div><strong>New Register User:	&nbsp;</strong>{{ acc.nru }}</div>
            <div><strong>Daily Active User:	&nbsp;</strong>{{ acc.dau }}</div>
            <div class="form-inline"><strong>Current Active User:	&nbsp;</strong>{{ acc.ccu }}	&nbsp;
              <strong>At:&nbsp;</strong>
              <input type="datetime-local" name="nf" class="form-control" value="2017-12-18T08:30">
            </div>
          </div>
          <hr>
          <div class="form-group">
            <div class="form-inline">
              <strong>Thống kê theo theo tháng:	&nbsp; </strong>
              <input type="month" name="nf" class="form-control" value="2017-12">
            </div>
          </div>
          <div><strong>Total Register User:	&nbsp;</strong>{{ acc.tru }}</div>
          <div><strong>Monthly Active User:	&nbsp;</strong>{{ acc.mau }}</div>
          <div><strong>Monthly Loss Active User:	&nbsp;</strong>{{ acc.mlau }}</div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Doanh thu theo kênh nạp thẻ
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                Từ ngày <input type="date" name="nf" class="form-control">
              </div>
              <div class="col-md-4">
                Đến ngày <input type="date" name="nf" class="form-control">
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>kênh nạp</th>
                <th>Doanh thu khách hàng</th>
                <th>Doanh thu sau Telco và trước VAT</th>
                <th>Paid User</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cr of card">
                <td>{{ cr.payment_type.name }}</td>
                <td>{{ cr.sum_price }}</td>
                <td>90</td>
                <td>{{ cr.user_count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Doanh thu Agency
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                  <strong _ngcontent-c3="">New Register User:	&nbsp;</strong> 12
              </div>
              <div class="col-md-12">
                  <strong _ngcontent-c3="">Average revenue per paying user:	&nbsp;</strong> 12
              </div>

              <div class="col-md-4">
                Từ ngày <input type="date" name="nf" class="form-control">
              </div>
              <div class="col-md-4">
                Đến ngày <input type="date" name="nf" class="form-control">
              </div>
              <div class="col-md-4">
                  Theo Agency 
                  <select id="select" name="select" class="form-control form-control-sm">
                      <option value="1">Agency #1</option>
                      <option value="2">Agency #2</option>
                      <option value="3">Agency #3</option>
                    </select>
                </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Game</th>
                <th>Lượt cài đặt</th>
                <th>Doanh thu khách hàng</th>
                <th>Tỷ lệ chia sẻ</th>
                <th>Doanh thu Agency</th>
                <th>Doanh thu công ty</th>
                <th>Paid User</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let agc of agency">
                <td>{{ agc.game.name }}</td>
                <td>{{ agc.game.registers_count }}</td>
                <td>90</td>
                <td>90</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Game B</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
                <td>90</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                  <td><strong>Total</strong></td>
                  <td>200</td>
                  <td>180</td>
                  <td>200</td>
                  <td>180</td>
                  <td>200</td>
                  <td>100</td>
                  <td>100</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>


  