<!-- Inside Page -->
<section class="v2_bnc_inside_page">
  <div class="v2_bnc_content_top">
  </div>
      <!--Products Page -->
  <script type="text/javascript">
      var urlNow=document.URL;
  </script>
  
  <section id="products-main" class="v2_bnc_products_page">
  <!-- Breadcrumbs -->
  <!-- Breadcrumbs -->
  <div class="clearfix"></div>
  <div class="v2_breadcrumb_main padding-top-10">
    <div class="container">
      <ul class="breadcrumb">
                          <li ><a href="http://xhome.com.vn">Trang chủ</a></li>
                                <li ><a href="http://xhome.com.vn/product.html">Sản Phẩm</a></li>
                                <li ><a href="http://xhome.com.vn/thiet-ke-kien-truc-2-1-278878.html">Thiết kế kiến trúc</a></li>
                  </ul>
    </div>
  </div>
  <!-- End Breadcrumbs --> 
  <div class="container">
  <div class="row">
  <div class="col-xs-12">
          <div class="v2_bnc_title_main">
            <h1>Thiết kế kiến trúc</h1>
          </div>
                  <div class="v2_bnc_cate_page_pr">
  <ul class="v2_bnc_cate_page_list_pr ">
  </ul>
  </div> 
  
  <div class="v2_bnc_products_page_body col-xs-12 no-padding">
  <div class="tab-content margin-top-10 row">
  <ul class="f-product-viewid f-product ">
  <li class="v2_bnc_pr_item_box col-xs-6 col-sm-6 col-md-3 col-lg-3 full-xs margin-bottom-30" id="like-product-item-765734">
          <div class="v2_bnc_pr_item">
              
              <figure class="v2_bnc_pr_item_img"> 
                  <a href="http://xhome.com.vn/a-toan-tp-lang-son-1-1-765734.html" title="A Toàn - TP Lạng Sơn">
                      <img alt="A Toàn - TP Lạng Sơn" id="f-pr-image-zoom-id-tab-home-765734" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/09/05/07/09/1504595175_1.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/09/05/07/09/1504595175_1.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-765734 img-responsive"/>
                  </a>
                  <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/a-toan-tp-lang-son-1-1-765734.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/a-toan-tp-lang-son-1-1-765734.html" title="A Toàn - TP Lạng Sơn">A Toàn - TP Lạng Sơn</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
                  </figcaption>
              </figure>
          </div>
  </li>
  <li class="v2_bnc_pr_item_box col-xs-6 col-sm-6 col-md-3 col-lg-3 full-xs margin-bottom-30" id="like-product-item-743223">
          <div class="v2_bnc_pr_item">
              
              <figure class="v2_bnc_pr_item_img"> 
                  <a href="http://xhome.com.vn/a-hung-do-son-hai-phong-1-1-743223.html" title="A Hùng - Đồ sơn, Hải Phòng">
                      <img alt="A Hùng - Đồ sơn, Hải Phòng" id="f-pr-image-zoom-id-tab-home-743223" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/07/04/a-hung-do-son-hai-phong-1501873359.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/07/04/a-hung-do-son-hai-phong-1501873359.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-743223 img-responsive"/>
                  </a>
                  <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/a-hung-do-son-hai-phong-1-1-743223.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/a-hung-do-son-hai-phong-1-1-743223.html" title="A Hùng - Đồ sơn, Hải Phòng">A Hùng - Đồ sơn, Hải Phòng</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p>Diện tích đất: 560m2</p>
  
  <p>&nbsp;</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
                  </figcaption>
              </figure>
          </div>
  </li>
  <li class="v2_bnc_pr_item_box col-xs-6 col-sm-6 col-md-3 col-lg-3 full-xs margin-bottom-30" id="like-product-item-742704">
          <div class="v2_bnc_pr_item">
              
              <figure class="v2_bnc_pr_item_img"> 
                  <a href="http://xhome.com.vn/chi-ha-bach-mai-1-1-742704.html" title="Chị Hà - Bạch Mai">
                      <img alt="Chị Hà - Bạch Mai" id="f-pr-image-zoom-id-tab-home-742704" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/05/04/chi-ha-bach-mai-1501866124.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/05/04/chi-ha-bach-mai-1501866124.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742704 img-responsive"/>
                  </a>
                  <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/chi-ha-bach-mai-1-1-742704.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/chi-ha-bach-mai-1-1-742704.html" title="Chị Hà - Bạch Mai">Chị Hà - Bạch Mai</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
                  </figcaption>
              </figure>
          </div>
  </li>
  <li class="v2_bnc_pr_item_box col-xs-6 col-sm-6 col-md-3 col-lg-3 full-xs margin-bottom-30" id="like-product-item-743222">
          <div class="v2_bnc_pr_item">
              
              <figure class="v2_bnc_pr_item_img"> 
                  <a href="http://xhome.com.vn/chi-nhung-quan-12-tp-hcm-1-1-743222.html" title="Chị Nhung - Quận 12, TP HCM">
                      <img alt="Chị Nhung - Quận 12, TP HCM" id="f-pr-image-zoom-id-tab-home-743222" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/07/04/chi-nhung-quan-12-tp-hcm-1501873332.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/07/04/chi-nhung-quan-12-tp-hcm-1501873332.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-743222 img-responsive"/>
                  </a>
                  <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/chi-nhung-quan-12-tp-hcm-1-1-743222.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/chi-nhung-quan-12-tp-hcm-1-1-743222.html" title="Chị Nhung - Quận 12, TP HCM">Chị Nhung - Quận 12, TP HCM</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p><strong>X&#39;HOME Thiết kế căn hộ 3, 5 tầng khách hàng chị Nhung - Quận 12 - TPHCM</strong></p>
  
  <p>&nbsp;- Diện tích đất: 190m2</p>
  
  <p>- Tổng diện tích xây dựng: 430m2</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
                  </figcaption>
              </figure>
          </div>
  </li>
  <li class="v2_bnc_pr_item_box col-xs-6 col-sm-6 col-md-3 col-lg-3 full-xs margin-bottom-30" id="like-product-item-742759">
          <div class="v2_bnc_pr_item">
              
              <figure class="v2_bnc_pr_item_img"> 
                  <a href="http://xhome.com.vn/a-hai-bai-chay-quang-ninh-1-1-742759.html" title="A Hải - Bãi Cháy, Quảng Ninh">
                      <img alt="A Hải - Bãi Cháy, Quảng Ninh" id="f-pr-image-zoom-id-tab-home-742759" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/05/27/a-hai-bai-chay-quang-ninh-1501867548.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/05/27/a-hai-bai-chay-quang-ninh-1501867548.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742759 img-responsive"/>
                  </a>
                  <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/a-hai-bai-chay-quang-ninh-1-1-742759.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/a-hai-bai-chay-quang-ninh-1-1-742759.html" title="A Hải - Bãi Cháy, Quảng Ninh">A Hải - Bãi Cháy, Quảng Ninh</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p><span style="color:rgb(255, 255, 255)"><span style="font-family:helvetica neue,helvetica,arial,sans-serif; font-size:14px">THIẾT KẾ THI CÔNG HOÀN THIỆN CĂN HỘ 4 TẦNG TRÊN DIỆN TÍCH ĐẤT 65M2 (DIỆN TÍCH XÂY DỰNG 296M2</span></span></p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
                  </figcaption>
              </figure>
          </div>
  </li>
  <li class="v2_bnc_pr_item_box col-xs-6 col-sm-6 col-md-3 col-lg-3 full-xs margin-bottom-30" id="like-product-item-743077">
          <div class="v2_bnc_pr_item">
              
              <figure class="v2_bnc_pr_item_img"> 
                  <a href="http://xhome.com.vn/anh-ngoc-tp-nam-dinh-1-1-743077.html" title="Anh Ngọc - TP Nam Định">
                      <img alt="Anh Ngọc - TP Nam Định" id="f-pr-image-zoom-id-tab-home-743077" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/06/38/anh-ngoc-tp-nam-dinh-1501871809.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/06/38/anh-ngoc-tp-nam-dinh-1501871809.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-743077 img-responsive"/>
                  </a>
                  <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/anh-ngoc-tp-nam-dinh-1-1-743077.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/anh-ngoc-tp-nam-dinh-1-1-743077.html" title="Anh Ngọc - TP Nam Định">Anh Ngọc - TP Nam Định</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p>THIẾT KẾ CĂN HỘ 3 TẦNG TRÊN DIỆN TÍCH ĐẤT 156M2</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
                  </figcaption>
              </figure>
          </div>
  </li>
  <li class="v2_bnc_pr_item_box col-xs-6 col-sm-6 col-md-3 col-lg-3 full-xs margin-bottom-30" id="like-product-item-743203">
          <div class="v2_bnc_pr_item">
              
              <figure class="v2_bnc_pr_item_img"> 
                  <a href="http://xhome.com.vn/anh-hai-ngoc-ha-ha-noi-1-1-743203.html" title="Anh Hải - Ngọc Hà, Hà nội">
                      <img alt="Anh Hải - Ngọc Hà, Hà nội" id="f-pr-image-zoom-id-tab-home-743203" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/06/59/anh-hai-ngoc-ha-ha-noi-1501873055.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/06/59/anh-hai-ngoc-ha-ha-noi-1501873055.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-743203 img-responsive"/>
                  </a>
                  <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/anh-hai-ngoc-ha-ha-noi-1-1-743203.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/anh-hai-ngoc-ha-ha-noi-1-1-743203.html" title="Anh Hải - Ngọc Hà, Hà nội">Anh Hải - Ngọc Hà, Hà nội</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p>Thiết kế thi c&ocirc;ng căn hộ song lập 3 tầng tr&ecirc;n diện t&iacute;ch đất 92m2</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
                  </figcaption>
              </figure>
          </div>
  </li>
  <li class="v2_bnc_pr_item_box col-xs-6 col-sm-6 col-md-3 col-lg-3 full-xs margin-bottom-30" id="like-product-item-743179">
          <div class="v2_bnc_pr_item">
              
              <figure class="v2_bnc_pr_item_img"> 
                  <a href="http://xhome.com.vn/a-phuong-thanh-xuan-ha-noi-1-1-743179.html" title="A Phương - Thanh Xuân, Hà nội">
                      <img alt="A Phương - Thanh Xuân, Hà nội" id="f-pr-image-zoom-id-tab-home-743179" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/06/56/a-phuong-thanh-xuan-ha-noi-1501872829.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/06/56/a-phuong-thanh-xuan-ha-noi-1501872829.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-743179 img-responsive"/>
                  </a>
                  <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/a-phuong-thanh-xuan-ha-noi-1-1-743179.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/a-phuong-thanh-xuan-ha-noi-1-1-743179.html" title="A Phương - Thanh Xuân, Hà nội">A Phương - Thanh Xuân, Hà nội</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p><strong>Xhome Thiết kế căn hộ 3,5 tầng của Anh Phương - Phương Liệt - Thanh Xu&acirc;n - H&agrave; Nội.</strong></p>
  
  <p>&nbsp;- Diện t&iacute;ch đất: 94,0m2</p>
  
  <p>&nbsp;- Tổng diện t&iacute;ch x&acirc;y dựng: 284m2</p>
  
  <p>&nbsp;</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
                  </figcaption>
              </figure>
          </div>
  </li>
  <li class="v2_bnc_pr_item_box col-xs-6 col-sm-6 col-md-3 col-lg-3 full-xs margin-bottom-30" id="like-product-item-743128">
          <div class="v2_bnc_pr_item">
              
              <figure class="v2_bnc_pr_item_img"> 
                  <a href="http://xhome.com.vn/anh-thanh-ha-nam-1-1-743128.html" title="Anh Thành - Hà Nam">
                      <img alt="Anh Thành - Hà Nam" id="f-pr-image-zoom-id-tab-home-743128" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/06/45/anh-thanh-ha-nam-1501872222.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/06/45/anh-thanh-ha-nam-1501872222.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-743128 img-responsive"/>
                  </a>
                  <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/anh-thanh-ha-nam-1-1-743128.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/anh-thanh-ha-nam-1-1-743128.html" title="Anh Thành - Hà Nam">Anh Thành - Hà Nam</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p><span style="color: rgb(29, 33, 41); font-family: Helvetica, Arial, sans-serif; font-size: 14px;">CĂN HỘ NH&Agrave; VƯỜN M&Aacute;I TH&Aacute;I TR&Ecirc;N DIỆN T&Iacute;CH ĐẤT 230M2 VỚI CHI PH&Iacute; X&Acirc;Y DỰNG 950 TRIỆU VNĐ.</span></p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
                  </figcaption>
              </figure>
          </div>
  </li>
  <li class="v2_bnc_pr_item_box col-xs-6 col-sm-6 col-md-3 col-lg-3 full-xs margin-bottom-30" id="like-product-item-742776">
          <div class="v2_bnc_pr_item">
              
              <figure class="v2_bnc_pr_item_img"> 
                  <a href="http://xhome.com.vn/a-hoang-an-khanh-ha-noi-1-1-742776.html" title="A Hoàng - An Khánh, Hà nội">
                      <img alt="A Hoàng - An Khánh, Hà nội" id="f-pr-image-zoom-id-tab-home-742776" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/05/37/a-hoang-an-khanh-ha-noi-1501868090.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/05/37/a-hoang-an-khanh-ha-noi-1501868090.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742776 img-responsive"/>
                  </a>
                  <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/a-hoang-an-khanh-ha-noi-1-1-742776.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/a-hoang-an-khanh-ha-noi-1-1-742776.html" title="A Hoàng - An Khánh, Hà nội">A Hoàng - An Khánh, Hà nội</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p>Căn hộ 5,5 Tầng tr&ecirc;n diện t&iacute;ch đất 80m2</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
                  </figcaption>
              </figure>
          </div>
  </li>
  <li class="v2_bnc_pr_item_box col-xs-6 col-sm-6 col-md-3 col-lg-3 full-xs margin-bottom-30" id="like-product-item-742774">
          <div class="v2_bnc_pr_item">
              
              <figure class="v2_bnc_pr_item_img"> 
                  <a href="http://xhome.com.vn/chi-le-hai-chau-da-nang-1-1-742774.html" title="Chị Lê - Hải Châu, Đà Nẵng">
                      <img alt="Chị Lê - Hải Châu, Đà Nẵng" id="f-pr-image-zoom-id-tab-home-742774" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/05/36/chi-le-hai-chau-da-nang-1501868051.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/05/36/chi-le-hai-chau-da-nang-1501868051.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742774 img-responsive"/>
                  </a>
                  <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/chi-le-hai-chau-da-nang-1-1-742774.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/chi-le-hai-chau-da-nang-1-1-742774.html" title="Chị Lê - Hải Châu, Đà Nẵng">Chị Lê - Hải Châu, Đà Nẵng</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p><strong>Hotel 3 tầng Chị L&ecirc; - Đường 2/9 - Hải Ch&acirc;u - Đ&agrave; Nẵng.</strong></p>
  
  <p>&nbsp;- Diện t&iacute;ch đất: 250m2.</p>
  
  <p>&nbsp;- Tổng diện t&iacute;ch x&acirc;y dựng: &nbsp;655m2</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
                  </figcaption>
              </figure>
          </div>
  </li>
  <li class="v2_bnc_pr_item_box col-xs-6 col-sm-6 col-md-3 col-lg-3 full-xs margin-bottom-30" id="like-product-item-742763">
          <div class="v2_bnc_pr_item">
              
              <figure class="v2_bnc_pr_item_img"> 
                  <a href="http://xhome.com.vn/chi-thuy-sapa-lao-cai-1-1-742763.html" title="Chị Thủy - Sapa, Lào Cai">
                      <img alt="Chị Thủy - Sapa, Lào Cai" id="f-pr-image-zoom-id-tab-home-742763" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/05/29/chi-thuy-sapa-lao-cai-1501867639.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/05/29/chi-thuy-sapa-lao-cai-1501867639.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742763 img-responsive"/>
                  </a>
                  <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/chi-thuy-sapa-lao-cai-1-1-742763.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/chi-thuy-sapa-lao-cai-1-1-742763.html" title="Chị Thủy - Sapa, Lào Cai">Chị Thủy - Sapa, Lào Cai</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p><span style="color:rgb(255, 255, 255);"><span style="font-family:helvetica,arial,sans-serif; font-size:14px">THIẾT KẾ THI CÔNG CẢI TẠO CĂN HỘ 5 TẦNG TRÊN DIỆN TÍCH ĐẤT 47M2 VỚI TỔNG CHI PHÍ 950 TRIỆU ĐỒNG</span></span><br  />
  &nbsp;</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
                  </figcaption>
              </figure>
          </div>
  </li>
  </ul>
  <div class="v2_bnc_pagination">
      <div class="row">
          <div class="col-md-6 hidden">
              <p class="v2_bnc_pagination_title"> Hiển thị từ                <strong>1  </strong> đến                <strong>12    </strong> trên                <strong>41  </strong> bản ghi - Trang số                <strong>1   </strong> trên                <strong>4  </strong> trang            </p>
          </div>
          <div class="v2_bnc_pagination_button text-center col-md-12 margin-top-20 margin-bottom-20">
              <ul class="pagination">
                                      <li class="disabled"><a> ← </a></li>
                  
                                                              <li class="active"><a >1</a></li>
                                                                 
                                                              <li ><a href="/thiet-ke-kien-truc-2-1-278878-p2.html">2</a></li>
                                                                 
                                                              <li ><a href="/thiet-ke-kien-truc-2-1-278878-p3.html">3</a></li>
                                                                 
                                                              <li ><a href="/thiet-ke-kien-truc-2-1-278878-p4.html">4</a></li>
                                                                 
                                  
                                      <li><a href="/thiet-ke-kien-truc-2-1-278878-p2.html">→</a></li>
                              </ul>
              <div class="clearfix"></div>
          </div>
      </div>    
  </div>
              </div>
  </div>
  </div>	
          </div>    
  </div>	
  </section> 
  <!-- End Products page --></section>
  <!-- End Inside Page -->
  