<!-- Intro Company -->
<div class="v2_bnc_intro_company col-xs-12 no-padding margin-top-20 margin-bottom-30 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div><div style="text-align: center;"><span style="font-size:14px">X&#39;HOME ra mắt vào cuối năm 2013, chỉ sau gần 4 năm hoạt động X&rsquo;HOME đã vươn mình trở thành doanh nghiệp Thiết kế và Thi công nội thất, Kiến trúc có lượng khách hàng lớn nhất toàn quốc.<br  />
  Sự phát triển này của X&rsquo;HOME là chưa từng có tiền lệ trong lịch sử ngành Thiết kế &amp; Thi công nội thất tại Việt Nam.</span></div></div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Intro Company --><!-- Products Tab -->
  <section class="v2_bnc_pr_tab_main  col-xs-12 no-padding">
      <div class="container">
          <div class="v2_bnc_title_tab_main">
              <div class="v2_bnc_title_main"><h2>Công Trình Tiêu Biểu</h2></div>
              <ul id="v2_bnc_pr_tab_home" class="v2_bnc_title_tab_home hidden">
                                      <li class="active"><a href="#f-pr-tab00" data-toggle="tab">Sản phẩm nổi bật</a></li>
                   
              </ul>
          </div>
          <div class="v2_bnc_body_main">
              <div class="tab-content row">
                                         
                      <div id="f-pr-tab00" class="tab-pane active v2_bnc_tabhome_product">
                          <div class="row">
                          <div class="v2_bnc_pr_item_box col-md-3 col-xs-12">
      <div class="v2_bnc_pr_item">
          
          <figure class="v2_bnc_pr_item_img"> 
              <a href="http://xhome.com.vn/chi-oanh-masteri-thao-dien-1-1-742729.html" title="Chị Oanh - Masteri Thảo Điền">
                  <img alt="Chị Oanh - Masteri Thảo Điền" id="f-pr-image-zoom-id-tab-home-742729" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/05/15/chi-oanh-masteri-thao-dien-1501866780.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/05/15/chi-oanh-masteri-thao-dien-1501866780.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742729 img-responsive"/>
              </a>
              <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/chi-oanh-masteri-thao-dien-1-1-742729.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/chi-oanh-masteri-thao-dien-1-1-742729.html" title="Chị Oanh - Masteri Thảo Điền">Chị Oanh - Masteri Thảo Điền</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p>Diện tích căn hộ: 68m2</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
              </figcaption>
          </figure>
      </div>
  </div>
  <div class="v2_bnc_pr_item_box col-md-3 col-xs-12">
      <div class="v2_bnc_pr_item">
          
          <figure class="v2_bnc_pr_item_img"> 
              <a href="http://xhome.com.vn/chi-thanh-can-duplex-trang-an-1-1-743152.html" title="Chị Thanh - Căn Duplex, Tràng An">
                  <img alt="Chị Thanh - Căn Duplex, Tràng An" id="f-pr-image-zoom-id-tab-home-743152" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/09/05/07/45/1504597320_1.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/09/05/07/45/1504597320_1.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-743152 img-responsive"/>
              </a>
              <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/chi-thanh-can-duplex-trang-an-1-1-743152.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/chi-thanh-can-duplex-trang-an-1-1-743152.html" title="Chị Thanh - Căn Duplex, Tràng An">Chị Thanh - Căn Duplex, Tràng An</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p>Diện tích căn hộ: 230m2</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
              </figcaption>
          </figure>
      </div>
  </div>
  <div class="v2_bnc_pr_item_box col-md-3 col-xs-12">
      <div class="v2_bnc_pr_item">
          
          <figure class="v2_bnc_pr_item_img"> 
              <a href="http://xhome.com.vn/anh-hoang-bt-dream-town-ha-noi-1-1-742734.html" title="Anh Hoàng - BT Dream Town, Hà nội">
                  <img alt="Anh Hoàng - BT Dream Town, Hà nội" id="f-pr-image-zoom-id-tab-home-742734" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/05/16/anh-hoang-bt-dream-town-ha-noi-1501866865.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/05/16/anh-hoang-bt-dream-town-ha-noi-1501866865.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742734 img-responsive"/>
              </a>
              <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/anh-hoang-bt-dream-town-ha-noi-1-1-742734.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/anh-hoang-bt-dream-town-ha-noi-1-1-742734.html" title="Anh Hoàng - BT Dream Town, Hà nội">Anh Hoàng - BT Dream Town, Hà nội</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
              </figcaption>
          </figure>
      </div>
  </div>
  <div class="v2_bnc_pr_item_box col-md-3 col-xs-12">
      <div class="v2_bnc_pr_item">
          
          <figure class="v2_bnc_pr_item_img"> 
              <a href="http://xhome.com.vn/chi-nga-phong-1910-trang-an-complex-1-1-742777.html" title="Chị Nga - Phòng 1910, Tràng An Complex">
                  <img alt="Chị Nga - Phòng 1910, Tràng An Complex" id="f-pr-image-zoom-id-tab-home-742777" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/05/37/chi-nga-phong-1910-trang-an-complex-1501868105.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/05/37/chi-nga-phong-1910-trang-an-complex-1501868105.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742777 img-responsive"/>
              </a>
              <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/chi-nga-phong-1910-trang-an-complex-1-1-742777.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/chi-nga-phong-1910-trang-an-complex-1-1-742777.html" title="Chị Nga - Phòng 1910, Tràng An Complex">Chị Nga - Phòng 1910, Tràng An Complex</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p>Căn hộ Duplex 227m2</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
              </figcaption>
          </figure>
      </div>
  </div>
  <div class="v2_bnc_pr_item_box col-md-3 col-xs-12">
      <div class="v2_bnc_pr_item">
          
          <figure class="v2_bnc_pr_item_img"> 
              <a href="http://xhome.com.vn/anh-thang-vincom-thanh-hoa-1-1-742773.html" title="Anh Thắng - Vincom Thanh Hóa">
                  <img alt="Anh Thắng - Vincom Thanh Hóa" id="f-pr-image-zoom-id-tab-home-742773" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/05/35/anh-thang-vincom-thanh-hoa-1501868024.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/05/35/anh-thang-vincom-thanh-hoa-1501868024.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742773 img-responsive"/>
              </a>
              <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/anh-thang-vincom-thanh-hoa-1-1-742773.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/anh-thang-vincom-thanh-hoa-1-1-742773.html" title="Anh Thắng - Vincom Thanh Hóa">Anh Thắng - Vincom Thanh Hóa</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
              </figcaption>
          </figure>
      </div>
  </div>
  <div class="v2_bnc_pr_item_box col-md-3 col-xs-12">
      <div class="v2_bnc_pr_item">
          
          <figure class="v2_bnc_pr_item_img"> 
              <a href="http://xhome.com.vn/a-dung-lao-cai-1-1-742575.html" title="A Dũng - Lào Cai">
                  <img alt="A Dũng - Lào Cai" id="f-pr-image-zoom-id-tab-home-742575" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/04/17/a-dung-lao-cai-1501863318.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/04/17/a-dung-lao-cai-1501863318.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742575 img-responsive"/>
              </a>
              <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/a-dung-lao-cai-1-1-742575.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/a-dung-lao-cai-1-1-742575.html" title="A Dũng - Lào Cai">A Dũng - Lào Cai</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
              </figcaption>
          </figure>
      </div>
  </div>
  <div class="v2_bnc_pr_item_box col-md-3 col-xs-12">
      <div class="v2_bnc_pr_item">
          
          <figure class="v2_bnc_pr_item_img"> 
              <a href="http://xhome.com.vn/a-toan-tp-lang-son-1-1-765734.html" title="A Toàn - TP Lạng Sơn">
                  <img alt="A Toàn - TP Lạng Sơn" id="f-pr-image-zoom-id-tab-home-765734" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/09/05/07/09/1504595175_1.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/09/05/07/09/1504595175_1.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-765734 img-responsive"/>
              </a>
              <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/a-toan-tp-lang-son-1-1-765734.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/a-toan-tp-lang-son-1-1-765734.html" title="A Toàn - TP Lạng Sơn">A Toàn - TP Lạng Sơn</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
              </figcaption>
          </figure>
      </div>
  </div>
  <div class="v2_bnc_pr_item_box col-md-3 col-xs-12">
      <div class="v2_bnc_pr_item">
          
          <figure class="v2_bnc_pr_item_img"> 
              <a href="http://xhome.com.vn/cong-ty-luat-vci-legal-vinhomes-central-park-1-1-742771.html" title="Công ty Luật VCI Legal - Vinhomes Central Park">
                  <img alt="Công ty Luật VCI Legal - Vinhomes Central Park" id="f-pr-image-zoom-id-tab-home-742771" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/05/35/cong-ty-luat-vci-legal-vinhomes-central-park-1501867979.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/05/35/cong-ty-luat-vci-legal-vinhomes-central-park-1501867979.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742771 img-responsive"/>
              </a>
              <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/cong-ty-luat-vci-legal-vinhomes-central-park-1-1-742771.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/cong-ty-luat-vci-legal-vinhomes-central-park-1-1-742771.html" title="Công ty Luật VCI Legal - Vinhomes Central Park">Công ty Luật VCI Legal - Vinhomes Central Park</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p>Diện tích văn phòng: 170m2</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
              </figcaption>
          </figure>
      </div>
  </div>
  <div class="v2_bnc_pr_item_box col-md-3 col-xs-12">
      <div class="v2_bnc_pr_item">
          
          <figure class="v2_bnc_pr_item_img"> 
              <a href="http://xhome.com.vn/a-hung-do-son-hai-phong-1-1-743223.html" title="A Hùng - Đồ sơn, Hải Phòng">
                  <img alt="A Hùng - Đồ sơn, Hải Phòng" id="f-pr-image-zoom-id-tab-home-743223" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/07/04/a-hung-do-son-hai-phong-1501873359.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/07/04/a-hung-do-son-hai-phong-1501873359.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-743223 img-responsive"/>
              </a>
              <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/a-hung-do-son-hai-phong-1-1-743223.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/a-hung-do-son-hai-phong-1-1-743223.html" title="A Hùng - Đồ sơn, Hải Phòng">A Hùng - Đồ sơn, Hải Phòng</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p>Diện tích đất: 560m2</p>
  
  <p>&nbsp;</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
              </figcaption>
          </figure>
      </div>
  </div>
  <div class="v2_bnc_pr_item_box col-md-3 col-xs-12">
      <div class="v2_bnc_pr_item">
          
          <figure class="v2_bnc_pr_item_img"> 
              <a href="http://xhome.com.vn/chi-ha-bach-mai-1-1-742704.html" title="Chị Hà - Bạch Mai">
                  <img alt="Chị Hà - Bạch Mai" id="f-pr-image-zoom-id-tab-home-742704" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/05/04/chi-ha-bach-mai-1501866124.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/05/04/chi-ha-bach-mai-1501866124.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742704 img-responsive"/>
              </a>
              <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/chi-ha-bach-mai-1-1-742704.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/chi-ha-bach-mai-1-1-742704.html" title="Chị Hà - Bạch Mai">Chị Hà - Bạch Mai</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
              </figcaption>
          </figure>
      </div>
  </div>
  <div class="v2_bnc_pr_item_box col-md-3 col-xs-12">
      <div class="v2_bnc_pr_item">
          
          <figure class="v2_bnc_pr_item_img"> 
              <a href="http://xhome.com.vn/chi-van-park-hill-10-1-1-742770.html" title="Chị Vân - Park Hill 10">
                  <img alt="Chị Vân - Park Hill 10" id="f-pr-image-zoom-id-tab-home-742770" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/09/05/07/24/1504596062_pkhach-bep---01.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/09/05/07/24/1504596062_pkhach-bep---01.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742770 img-responsive"/>
              </a>
              <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/chi-van-park-hill-10-1-1-742770.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/chi-van-park-hill-10-1-1-742770.html" title="Chị Vân - Park Hill 10">Chị Vân - Park Hill 10</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p>Diện tích căn hộ: 178m2</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
              </figcaption>
          </figure>
      </div>
  </div>
  <div class="v2_bnc_pr_item_box col-md-3 col-xs-12">
      <div class="v2_bnc_pr_item">
          
          <figure class="v2_bnc_pr_item_img"> 
              <a href="http://xhome.com.vn/chi-oanh-masteri-thao-dien-1-1-742736.html" title="Chị Oanh - Masteri Thảo Điền">
                  <img alt="Chị Oanh - Masteri Thảo Điền" id="f-pr-image-zoom-id-tab-home-742736" src="http://s2.webbnc.vn/uploadv2/web/71/7121/product/2017/08/04/05/17/chi-oanh-masteri-thao-dien-1501866944.jpg_resize500x500.jpg" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/05/17/chi-oanh-masteri-thao-dien-1501866944.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742736 img-responsive"/>
              </a>
              <figcaption class="v2_bnc_pr_item_boxdetails">
                  <a href="http://xhome.com.vn/chi-oanh-masteri-thao-dien-1-1-742736.html" class="links_fixed">
                      <div class="hvr-shutter-in-vertical">
                          <div class="v2_bnc_pr_item_boxdetails_border">
                              <div class="v2_bnc_pr_item_boxdetails_content">
                                  <!-- Products Name -->  
                                  <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/chi-oanh-masteri-thao-dien-1-1-742736.html" title="Chị Oanh - Masteri Thảo Điền">Chị Oanh - Masteri Thảo Điền</a></h3>
                                  <!-- End Products Name --> 
                                  <!-- Details -->
                                                                  <div class="v2_bnc_pr_item_short_info">
                                      <p>Diện tích căn hộ: 70m2</p>                                </div>
                                                                  <!-- End Details -->
                              </div>
                          </div>
                      </div>    
                  </a>  
              </figcaption>
          </figure>
      </div>
  </div>
   
                          </div>                      
                      </div>
                              </div>
          </div>
      </div>    
  </section>
   
  <!-- End Products Tab -->     
<!-- <section class="v2_bnc_pr_tab_main  col-xs-12 no-padding">
    <div class="container">
        <div class="v2_bnc_title_tab_main">
            <div class="v2_bnc_title_main">
                <h2>Công Trình Tiêu Biểu</h2>
            </div>
            <ul id="v2_bnc_pr_tab_home" class="v2_bnc_title_tab_home hidden">
                <li class="active"><a href="#f-pr-tab00" data-toggle="tab">Sản phẩm nổi bật</a></li>

            </ul>
        </div>
        <div class="v2_bnc_body_main">
            <div class="tab-content row">

                <div id="f-pr-tab00" class="tab-pane active v2_bnc_tabhome_product">
                    <div class="row">

                        <div class="v2_bnc_pr_item_box col-md-3 col-xs-12" *ngFor="let item of productList">
                            <div class="v2_bnc_pr_item">

                                <figure class="v2_bnc_pr_item_img">
                                    <a href="http://xhome.com.vn/chi-oanh-masteri-thao-dien-1-1-742729.html" title="item.product_name">
  <img alt="item.product_name" id="f-pr-image-zoom-id-tab-home-742729" src="item.avatar_url" onerror="this.onerror=null;this.src='http://upload2.webbnc.vn/view.php?image=uploadv2/web/71/7121/product/2017/08/04/05/15/chi-oanh-masteri-thao-dien-1501866780.jpg&mode=resize&size=500x500'" class="BNC-image-add-cart-742729 img-responsive"/>
</a>
                                    <figcaption class="v2_bnc_pr_item_boxdetails">
                                        <a href="http://xhome.com.vn/chi-oanh-masteri-thao-dien-1-1-742729.html" class="links_fixed">
                                            <div class="hvr-shutter-in-vertical">
                                                <div class="v2_bnc_pr_item_boxdetails_border">
                                                    <div class="v2_bnc_pr_item_boxdetails_content">
                                                        <h3 class="v2_bnc_pr_item_name"><a href="http://xhome.com.vn/chi-oanh-masteri-thao-dien-1-1-742729.html"
                                                                title="item.product_name">{{item.product_name}}</a></h3>
                                                        <div class="v2_bnc_pr_item_short_info" *ngIf="item.short_describe">
                                                            <p>{{item.short_describe}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->