<div class="card-viewer">
  <div class="card-viewer-wrapper">
    <div class="card-viewer-title">
      Doanh thu theo ngay
    </div>
    <div class="card-viewer-body">
      <div class="settings">
        <!-- <div class="row mb-3">
          <label class="col-md-2">
            <span class="middle">Ty le telco: </span>
          </label>
          <div class="col-md-10">
            <mat-form-field>
              <input type="text" matInput placeholder="Chọn game" [matAutocomplete]="autoGame">
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="Chọn agency" [matAutocomplete]="autoAgency">
            </mat-form-field>
            <mat-form-field>
              <input type="number" matInput placeholder="Nhan ti le telco">
            </mat-form-field>

            <mat-autocomplete #autoGame="matAutocomplete">
              <mat-option *ngFor="let option of games" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
            <mat-autocomplete #autoAgency="matAutocomplete">
              <mat-option *ngFor="let option of agencies" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="col-md-12">
            <button mat-raised-button type="submit" color="primary">Submit</button>

          </div>
        </div>

        <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Game</th>
                <th>Agency</th>
                <th>Tecol(%)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Game a</td>
                <td>Agency a</td>
                <td>60</td>
              </tr>
            </tbody>
          </table> -->
      </div>
    </div>
  </div>
</div>