<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Games
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-primary" (click)="smallModal.show()">Create</button>
            </div>
            <!-- <div class="col-md-6">
              <button class="btn btn-primary" (click)="smallModal.show()">Create</button>
            </div> -->
            <!--/.col-->
          </div>
          <!--/.row-->
          <br>
          <table class="table table-responsive table-hover table-outline mb-0">
            <thead class="thead-default">
              <tr>
                <th class="text-center">Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let game of games">
                <td class="text-center">
                  {{ game.id }}
                </td>
                <td>
                  {{ game.name }}
                </td>
                <td>
                  {{ game.description }}
                </td>
                <td>
                  
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="currentPage > 1">
            <p></p>
            <div class="row app-pagination">
              <div class="col-xs-12 col-12 col-md-6">
                <pagination
                  [totalItems]="totalItems"
                  [itemsPerPage]="itemsPerPage"
                  (pageChanged)="pageChanged($event)">
                </pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  
 <div bsModal #smallModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       
        <form [formGroup]="createGameForm" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="card-header">
                  Create new game
                </div>
                <div class="card-body">
                    <div class="form-group row">
                      <label class="col-md-3 form-control-label" for="name">Name</label>
                      <div class="col-md-9">
                        <input id="name" formControlName="name" class="form-control" placeholder="Enter Name..">
                        <!-- <span class="help-block">Please enter your email</span> -->
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 form-control-label" for="description">Description</label>
                      <div class="col-md-9">
                        <input formControlName="description" id="description" class="form-control" placeholder="Enter Description..">
                        <!-- <span class="help-block">Please enter your password</span> -->
                      </div>
                    </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                  <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
              </div>
         </form>
     </div>
   </div>
 </div>
  