<div class="card-viewer">
    <div class="card-viewer-wrapper">
      <div class="card-viewer-title">
        Doanh thu theo ngay
      </div>
      <div class="card-viewer-body">
          <div class="option-choose">
              <mat-form-field>
                  <input [formControl]="reDayTimeControl" matInput [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <app-select-game [game]="reDayGameControl"></app-select-game>
                <app-select-agency [agency]="reDayAgencyControl"></app-select-agency>
          </div>
        <div class="day-revenue clearfix">
            <ngx-charts-number-card
            [results]="dayRevenue">
          </ngx-charts-number-card>
        </div>
      </div>
    </div>
  </div>

<div class="card-viewer">
  <div class="card-viewer-wrapper">
    <div class="card-viewer-title">
      Thống kê theo tháng
    </div>
    <div class="card-viewer-body">
      <div class="month-choose">
          <app-year-input [year]="reYearTimeControl"></app-year-input>
           <app-select-game [game]="reYearGameControl"></app-select-game>
           <app-select-agency [agency]="reYearAgencyControl"></app-select-agency>
      </div>
      <div class="mb-1">
          <mat-radio-group [formControl]="optionControl">
              <mat-radio-button value="1">Luot cai</mat-radio-button>
              <mat-radio-button value="2">NRU</mat-radio-button>
              <mat-radio-button value="3">Doanh thu khách hàng của agency</mat-radio-button>
              <mat-radio-button value="4">Doanh thu của agency</mat-radio-button>
              <mat-radio-button value="5">Doanh thu công ty</mat-radio-button>
              <mat-radio-button value="6">PU</mat-radio-button>
            </mat-radio-group>
      </div>
      <div class="year-revenue mb-1">
        <strong>Total Year: </strong> 33490000000
      </div>
      <div class="clearfix chart-wrapper" #chart>
          <ngx-charts-bar-vertical
            [view]="[chart.offsetWidth, 400]"
            [results]="monthRevenue"
            xAxis="true"
            yAxis="true"
            legend="true"
            showXAxisLabel="true"
            showYAxisLabel="true"
            xAxisLabel="Thang"
            yAxisLabel="Doanh Thu">
          </ngx-charts-bar-vertical>
      </div>
      <!-- <table class="table table-striped">
        <thead>
          <tr>
            <th>Thang</th>
            <th>Luot Cai</th>
            <th>NRU</th>
            <th>Doanh thu</th>
            <th>Doanh thu agency</th>
            <th>Doanh thu company</th>
            <th>Paid User</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let revenue of monthTable">
            <th scope="row">{{ revenue.id }}</th>
            <td>{{ revenue.setup }}</td>
            <td>{{ revenue.nru }}</td>
            <td>{{ revenue.re }}</td>
            <td>{{ revenue.reAgency }}</td>
            <td>{{ revenue.reCompany }}</td>
            <td>{{ revenue.pu }}</td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>

<div class="card-viewer">
    <div class="card-viewer-wrapper">
      <div class="card-viewer-title">
        title
      </div>
      <div class="card-viewer-body">
        <div class="mb-3">
          <button mat-raised-button color="primary" (click)="agency=null;openDialog()">Create</button>
        </div>
  
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let agnecyData of agencies">
              <th scope="row">{{ agnecyData.id }}</th>
              <td>{{ agnecyData.name }}</td>
              <td>{{ agnecyData.description }}</td>
              <td>
                <button type="button" mat-button (click)="editAgency(agnecyData)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
        <mat-paginator *ngIf="itemsPerPage < totalItems"
        [length]="totalItems" 
        [pageSize]="itemsPerPage" 
        (page)="pageChanged($event)">
        </mat-paginator>
      </div>
    </div>
  </div>