<div class="sidebar">
  <div class="sidebar-nav-container">
    <ul class="sidebar-nav">
      <!---->
      <li>
        <a routerLinkActive="active" routerLink="/admin/dashboard" mat-button>
          <i class="material-icons">dashboard</i>
          <span class="minimized-hidden">Dashboard</span>
          <span class="minimized-hover">Dashboard</span>
        </a>
      </li>
      <!-- <li>
        <a routerLinkActive="active" routerLink="/admin/revenues" mat-button>
          <i class="material-icons">monetization_on</i>
          <span class="minimized-hidden">Reveue</span>
        </a>
      </li> -->
      <li>
        <a routerLinkActive="active" routerLink="/admin/users" mat-button>
          <i class="material-icons">supervisor_account</i>
          <span class="minimized-hidden">Users</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/admin/agencies" mat-button>
          <i class="material-icons">group_work</i>
          <span class="minimized-hidden">Agencies</span>
        </a>
      </li>
      <!-- <li class="sidebar-section">
        <h4 class="title">Management</h4>
      </li> -->
      <li>
        <a routerLinkActive="active" routerLink="/admin/games" mat-button>
          <i class="material-icons">videogame_asset</i>
          <span class="minimized-hidden">Games</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/admin/settings" mat-button>
          <i class="material-icons">settings</i>
          <span class="minimized-hidden">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</div>