<div class="form-full-container">
    <form [formGroup]="agencyForm" (ngSubmit)="onSubmit()" class="form-full">
        <mat-form-field>
            <input matInput [formControl]="agencyForm.get('name')" placeholder="Name">
        </mat-form-field>

        <mat-form-field>
            <textarea matInput [formControl]="agencyForm.get('description')" placeholder="Description"></textarea>
        </mat-form-field>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <app-select-game (change)="onChangeGame($event)" [game]="agencyForm.get('games').get('game_id')"></app-select-game>
                </td>
                <td>
                    <mat-form-field>
                        <input [formControl]="agencyForm.get('games').get('percent_share')" type="number" matInput placeholder="Nhan ti le telco">
                    </mat-form-field>
                </td>
                <td>
                    <button mat-icon-button type="button" (click)="addGame()">
                        <i class="material-icons">add</i>
                    </button>
                </td>
            </tr>

            <tr *ngFor="let game of games; let i = index">
                <td>{{ game.name }}</td>
                <td>{{ game.percent_share }}</td>
                <td>
                    <button mat-icon-button type="button" (click)="removeGame(i)">
                        <i class="material-icons">clear</i>
                    </button>
                </td>
            </tr>
        </table>


        <div class="button-container">
            <button type="submit" mat-raised-button>Submit</button>
        </div>
    </form>
</div>