<!--Footer-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Info Company -->
      <div class="footer-top">
        <div class="col-md-4">
          <div class="footer-top__title"><h4>X&#039;Home</h4></div>
          <div class="footer-top__content margin-bottom-20">
            <div class="title_our_cutomers_main wow zoomIn data-wow-duration= animated animated animated" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
              Là công ty thiết kế và thi công nội thất & kiến trúc lớn nhất Việt Nam
            </div>
          </div>
          <div class="footer-top__content">
            <div class="footer-top__list">
              <ul class="nav info-list">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i> Số xx, Đường Hùng Vương, Ba Đình, Hà Nội Việt Nam</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> +(84-4) 3214 567</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:contact@xhome.com">contact@xhome.com</a></li>
              </ul>
            </div>
        </div>
      </div>	
      <div class="col-md-4">
        <div class="footer-top__title"><h4>Dịch vụ</h4></div>
        <div class="footer-top__content">
          <ul class="nav service-list">
            <li><a href="">Thiết kế và Thi công nội thất, kiến trúc</a></li>
            <li><a href="">Thiết kế và thi công Cải tạo, Xây mới căn hộ</a></li>
            <li><a href="">Dịch vụ dành cho khách hàng ở các tỉnh khác ngoài Hà nội</a></li>
            <li><a href="">Dịch vụ đăng ký Báo giá thi công (Không cần thiết kế)</a></li>
            <li><a href="">Trang trí căn hộ trọn gói</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
          <div class="footer-top__title"><h4>Tìm kiếm</h4></div>
          <div class="footer-top__content margin-bottom-30">
            <form novalidate>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
              </div>
            </form>
          </div>
          <div class="footer-top__title"><h4>Liên hệ</h4></div>
          <div class="footer-top__content">
              <ul class="nav socials">
                <li><a href="#" title="facebook" tooltip="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="#" title="google plus" tooltip="google plus"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                <li><a href="#" title="linked in" tooltip="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                <li><a href="#" title="twitter" tooltip="twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              </ul>
          </div>
        </div>	
    </div>
    <!-- End Info Company <-->
    </div>
  </div>
</footer>
<div class="copyright text-center padding-10">
<span>© Copyright 2017 - Design by X’HOME</span>
</div> 
<!--End Footer-->
