<header class="app-header navbar">
        <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
        <ul class="nav navbar-nav d-md-down-none">
          <li class="nav-item px-3">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#">Users</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#">Settings</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
          </li>
          <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#"><i class="icon-list"></i></a>
          </li>
          <li class="nav-item d-md-down-none">
            <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
          </li>
          <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
              <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
              <span class="d-md-down-none">admin</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
              <div class="dropdown-header text-center"><strong>Account</strong></div>
              <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
              <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
              <div class="divider"></div>
              <a class="dropdown-item" [routerLink]="['/auth/logout']"><i class="fa fa-lock"></i> Logout</a>
            </div>
          </li>
          <button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>&#9776;</button>
        </ul>
      </header>
      
      <div class="app-body">
        <div class="sidebar">
          <nav class="sidebar-nav">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
              </li>
              <li class="divider"></li>
              <li class="nav-title">
                Management
              </li>
              <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/users']"><i class="icon-puzzle"></i> Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/games']"><i class="icon-calculator"></i> Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/charts']"><i class="icon-pie-chart"></i> Charts</a>
              </li>
              <li class="divider"></li>
              <li class="nav-title">
                Extras
              </li>
              <!--<li class="nav-item nav-dropdown" appNavDropdown>
                <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Pages</a>
                <ul class="nav-dropdown-items">
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/login']"><i class="icon-star"></i> Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/register']"><i class="icon-star"></i> Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/404']"><i class="icon-star"></i> Error 404</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/500']"><i class="icon-star"></i> Error 500</a>
                  </li>
                </ul>
              </li>-->
            </ul>
          </nav>
        </div>
      
        <!-- Main content -->
        <main class="main">
          <div class="container-fluid">
            <div class="core-breadcrumb"></div>
            <router-outlet></router-outlet>
          </div><!-- /.conainer-fluid -->
        </main>
      </div>
      
      <footer class="app-footer">
        2017 creativeLabs
      </footer>
      