<div class="v2_bnc_intro_company col-xs-12 no-padding margin-top-20 margin-bottom-30 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <div>
                    <div style="text-align: center;"><span style="font-size:14px">X&#39;HOME ra mắt vào cuối năm 2013, chỉ sau gần 4 năm hoạt động X&rsquo;HOME đã vươn mình trở thành doanh nghiệp Thiết kế và Thi công nội thất, Kiến trúc có lượng khách hàng lớn nhất toàn quốc.<br  />
Sự phát triển này của X&rsquo;HOME là chưa từng có tiền lệ trong lịch sử ngành Thiết kế &amp; Thi công nội thất tại Việt Nam.</span></div>
                </div>
            </div>
        </div>
    </div>
</div>