.login-wrapper {
    height: 100vh;
    display: inline-block;
    width: 100%;
    background-color: #e4e5e6;
    .login-container {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
}

.mat-form-field {
    width: 100%;
}
    