<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <div class="login-wrapper">
    <div class="login-container">
      <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <div class="card-viewer">
          <div class="card-viewer-wrapper">
            <div class="card-viewer-title">
                <h3>Login</h3>
                <div>Sign In to your account</div>
            </div>
            <div class="card-viewer-body">
              <div class="input-group">
                <mat-form-field>
                  <i matPrefix class="material-icons">supervisor_account&nbsp;</i>
                  <input formControlName="username" type="text" matInput placeholder="Username">
                </mat-form-field>
              </div>
              <div class="input-group">
                  <mat-form-field>
                      <i matPrefix class="material-icons">lock_outline&nbsp;</i>
                      <input formControlName="password" type="password" matInput placeholder="Password">
                    </mat-form-field>
              </div>
              <div class="row">
                <div class="col-6">
                  <button type="submit" mat-raised-button color="primary">Login</button>
                </div>
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-link px-0">Forgot password?</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>