<div class="form-full-container">
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="form-full">
      <mat-form-field>
          <input matInput [formControl]="accountForm.get('name')" placeholder="Name">
      </mat-form-field>

      <mat-form-field>
          <input matInput type="password" [formControl]="accountForm.get('password')" placeholder="Password">
      </mat-form-field>

      <div class="button-container">
          <button type="submit" mat-raised-button>Submit</button>
      </div>
  </form>
</div>